<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title> ACM Membership Form</title>
    <link rel="icon" href="../static/images/acm.png">
    <link rel="stylesheet" href="../static/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.css"
      integrity="sha512-6g9IGCc67eh+xK03Z8ILcnKLbJnKBW+qpEdoUVD/4hBa2Ghiq5dQgeNOGWJfGoe9tdCRM4GpJMnsRXa2FDJp9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css"
      integrity="sha512-ARJR74swou2y0Q2V9k0GbzQ/5vJ2RBSoCWokg4zkfM29Fb3vZEQyv0iWBMW/yvKgyHSR/7D64pFMmU8nYmbRkg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>
  <body class="container">
    <div >
      <div class="card my-3">
        <div class="card-body">
          <div class="d-flex align-items-center ">
            <img src="../static/images/acm.png" class="card-img-top p-1" alt="acmlogo" style="width: 6rem;">
            <div>
              <h1>ACM Member Registration : 2024-2025</h1>
              <h1>CSULA ACM | Association for Computing Machinery</h1>
            </div>
          </div>
          <h6 class="card-subtitle mb-2 text-body-secondary"><b>Note:</b> Most of our events are scheduled on Tuesday/Thursdays 3pm - 4:20pm</h6>
          <h6 class="card-subtitle mb-2 text-body-secondary"><b>For Projects:</b> You will receive a project workshop form in the welcome email. If interested, sign-ups are due at 11:59 PM Sept. 1st.</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Contact us at: <a href="mailto:acm.calstatela@gmail.com">acm.calstatela@gmail.com</a></li>
            <li class="list-group-item">( <span class="text-danger">*</span> ) indicates requied field</li>
          </ul>
        </div>
      </div>
      <form
        action="submit_form"
        method="POST"
        class="membershipForm"
        name="placeholder"
        id="acmform"
      >
        <div class="input-box">
          <label class="form-label" for="Email">Email <span class="text-danger">*</span></label>
          <input class="form-control"
            type="email"
            name="Email"
            placeholder="Email"
            id="emailText"
            required
          />
          <p class="mt-3"><b>Note:</b> It is highly recommended to provide a gmail account, <b><u>not</u></b> your calstatela.edu email</p>
        </div>

        <div class="input-box">
          <label class="form-label" for="membership">Membership <span class="text-danger">*</span></label>
          <select class="form-select" name="membership" id="membership" required>
            <option value="new">New Member</option>
            <option value="returning">Returning ACM Member</option>
          </select>
        </div>

        <div class="input-box">
          <label class="form-label" for="firstName">First Name <span class="text-danger">*</span></label>
          <input class="form-control"
            type="text"
            name="firstName"
            placeholder="First Name"
            id="nameText"
            required
          />
        </div>

        <div class="input-box">
          <label class="form-label" for="lastName">Last name <span class="text-danger">*</span></label>
          <input class="form-control"
            type="text"
            name="lastName"
            placeholder="Last Name"
            id="nameText"
            required
          />
        </div>

        <div class="input-box">
          <label class="form-label" for="cin"
            >CIN (type N/A if you don't currently have one) <span class="text-danger">*</span></label
          >
          <input class="form-control"
            type="text"
            name="cin"
            placeholder="your CIN"
            id="cinNumber"
            required
          />
        </div>

        <div class="input-box">
          <label class="form-label" for="phone-number">Phone Number <span class="text-danger">*</span></label>
          <input class="form-control"
            type="number"
            name="phone-number"
            placeholder="Phone Number"
            required
          />
        </div>

        <div class="input-box">
          <label class="form-label" for="discordTag">Discord ID: (ex. ACM#2022 or ACM if you've updated your username) <span class="text-danger">*</span></label>
          <ul><li>If you don't have one, you can register at: <a href="https://discord.com/register">https://discord.com/register</a></li></ul>
          <input class="form-control"
            type="text"
            name="discordTag"
            placeholder="Discord Tag"
            id="discordTag"
            required
          />
        </div>

        <div class="input-box">
          <label class="form-label" for="birthday">Birthday <span class="text-danger">*</span></label>
          <input class="form-control"
            type="date"
            name="birthday"
            id="birthday"
            required
          />
        </div>

        <div class="input-box" id="gender-radio">
          <label class="form-label" for="gender">Gender <span class="text-danger">*</span></label>
          <div class="form-check">
            <label class="form-check-label" for="female"
              ><input
                class="form-check-input"
                type="radio"
                name="gender"
                id="female"
                value="female"
                required
              />
              Female
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="male"
              ><input
                class="form-check-input"
                type="radio"
                name="gender"
                id="male"
                value="male"
              />
              Male
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="non-bi"
              ><input
                class="form-check-input"
                type="radio"
                name="gender"
                id="non-bi"
                value="non-bi"
              />
              Non-binary
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="prefernot"
              ><input
                class="form-check-input"
                type="radio"
                name="gender"
                id="prefernot"
                value="prefernot"
              />
              Prefer not to say
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="other-gender">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="other-gender"
                value="gender"
              />
              Other:
              <input class="form-control"
                type="text"
                id="other-gender-text"
              />
            </label>
          </div>
        </div>

        <div class="input-box" id="major-radio">
          <label class="form-label" for="major">Major <span class="text-danger">*</span></label>
          <div class="form-check">
            <label class="form-check-label" for="pre-cs"
              ><input
                class="form-check-input"
                type="radio"
                name="major"
                id="pre-cs"
                value="Pre-CS"
                required
              />
              Pre-Computer Science
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="cs"
              ><input
                class="form-check-input"
                type="radio"
                name="major"
                id="cs"
                value="CS"
              />
              Computer Science
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="me"
              ><input
                class="form-check-input"
                type="radio"
                name="major"
                id="me"
                value="Mechanical Eng"
              />
              Mechanical Engineering
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="civil"
              ><input
                class="form-check-input"
                type="radio"
                name="major"
                id="civil"
                value="Civil Eng"
              />
              Civil Engineering
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="ee"
              ><input
                class="form-check-input"
                type="radio"
                name="major"
                id="ee"
                value="Electrical Eng"
              />
              Electrical Engineering
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="cis"
              ><input
                class="form-check-input"
                type="radio"
                name="major"
                id="cis"
                value="CIS"
              />
              Computer Information Systems
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="natural"
              ><input
                class="form-check-input"
                type="radio"
                name="major"
                id="natural"
                value="Natural Sci"
              />
              Natural Science
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="bio"
              ><input
                class="form-check-input"
                type="radio"
                name="major"
                id="bio"
                value="Biology"
              />
              Biology
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="chem"
              ><input
                class="form-check-input"
                type="radio"
                name="major"
                id="chem"
                value="Chemistry"
              />
              Chemistry
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="biochem"
              ><input
                class="form-check-input"
                type="radio"
                name="major"
                id="biochem"
                value="BioChem"
              />
              Biochemistry
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="poli"
              ><input
                class="form-check-input"
                type="radio"
                name="major"
                id="poli"
                value="Poli Sci"
              />
              Political Science
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="psych"
              ><input
                class="form-check-input"
                type="radio"
                name="major"
                id="psych"
                value="Psychology"
              />
              Psychology
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="food"
              ><input
                class="form-check-input"
                type="radio"
                name="major"
                id="food"
                value="Food Sci and Tech"
              />
              Food Science and Technology
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="other-major">
              <input
                class="form-check-input"
                type="radio"
                name="major"
                id="other-major"
                value="other"
              />
              Other:
              <input class="form-control"
                type="text"
                id="other-major-text"
              />
            </label>
          </div>
        </div>

        <div class="input-box">
          <label class="form-label" for="standing">Class Standing <span class="text-danger">*</span></label>
          <select class="form-select" name="standing" id="standing" required>
            <option value="Freshman">Freshman</option>
            <option value="Sophomore">Sophomore</option>
            <option value="Junior">Junior</option>
            <option value="Senior">Senior</option>
            <option value="Graduate">Graduate</option>
            <option value="Faculty">Faculty</option>
            <option value="Alumni">Alumni</option>
            <option value="Other Community Member">
              Other Community Member
            </option>
            <option value="Not a CSULA Student">Not a CSULA Student</option>
          </select>
        </div>

        <div class="input-box">
          <label class="form-label" for="Senior Design"
            >If you're a rising senior, are you taking Senior Design in 2024-2025 (for ECST
            students)? <span class="text-danger">*</span></label
          >
          <select class="form-select" name="senior-design" id="senior-design" required>
            <option value="no">No</option>
            <option value="yes">Yes</option>
          </select>
        </div>

        <div class="input-box" id="year-radio">
          <label class="form-label" for="graduation-year"
            >If you are a student, what is your expected graduation year? <span class="text-danger">*</span></label
          >
          <div class="form-check">
            <label class="form-check-label" for="spring25"
              ><input
                class="form-check-input"
                type="radio"
                name="gradyear"
                id="spring25"
                value="Spring 2025"
              />
              Spring 2025
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="spring26"
              ><input
                class="form-check-input"
                type="radio"
                name="gradyear"
                id="spring26"
                value="Spring 2026"
              />
              Spring 2026
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="spring27"
              ><input
                class="form-check-input"
                type="radio"
                name="gradyear"
                id="spring27"
                value="Spring 2027"
              />
              Spring 2027
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="spring28"
              ><input
                class="form-check-input"
                type="radio"
                name="gradyear"
                id="spring28"
                value="Spring 2028"
              />
              Spring 2028
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="spring29"
              ><input
                class="form-check-input"
                type="radio"
                name="gradyear"
                id="spring29
                value="Spring 2029"
              />
              Spring 2029
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="other-year">
              <input
                class="form-check-input"
                type="radio"
                name="gradyear"
                id="other-year"
                value="other"
              />
              Other:
              <input class="form-control"
                type="text"
                id="other-year-text"
              />
            </label>
          </div>
        </div>

        <div id="hear-radio" class="input-box">
          <label class="form-label" for="hear-about-ACM">How did you hear about ACM? <span class="text-danger">*</span></label>
          <div id="validate-input" class="text-warning" hidden>Please fill out this field</div>
          <div class="form-check">
            <label class="form-check-label" for="acmweb"
              ><input
                class="form-check-input"
                type="checkbox"
                name="hear"
                id="acmweb"
                value="ACM-Web"
              />
              ACM Website
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="acmflyer"
              ><input
                class="form-check-input"
                type="checkbox"
                name="hear"
                id="acmflyer"
                value="ACM-Flyer"
              />
              ACM Flyer
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="social"
              ><input
                class="form-check-input"
                type="checkbox"
                name="hear"
                id="social"
                value="Social-Media"
              />
              Social Media
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="ecst"
              ><input
                class="form-check-input"
                type="checkbox"
                name="hear"
                id="ecst"
                value="ECST-Dept"
              />
              ECST Department
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="cs1010"
              ><input
                class="form-check-input"
                type="checkbox"
                name="hear"
                id="cs1010"
                value="CS-1010"
              />
              CS 1010 recruitment
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="cs201x"
              ><input
                class="form-check-input"
                type="checkbox"
                name="hear"
                id="cs201x"
                value="CS-201X"
              />
              CS 201X recruitment
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="otherrecuitment"
              ><input
                class="form-check-input"
                type="checkbox"
                name="hear"
                id="otherrecuitment"
                value="Other-recruitment"
              />
              Other recruitment event
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="friend"
              ><input
                class="form-check-input"
                type="checkbox"
                name="hear"
                id="friend"
                value="From-Friend"
              />
              Heard from a friend
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="other-hear">
              <input
                class="form-check-input"
                type="checkbox"
                name="hear"
                id="other-hear"
                value="other"
              />
              Other:
              <input class="form-control"
                type="text"
                id="other-hear-text"
              />
            </label>
          </div>
        </div>

        <div class="input-box" id="gain-radio">
          <label class="form-label" for="gain-from-ACM"
            >What do you expect to gain from ACM? <span class="text-danger">*</span></label>
            </select>
          </label>

          <div class="form-check">
            <label class="form-label" for="career"
              ><input
                class="form-check-input"
                type="checkbox"
                name="gain"
                id="career"
                value="career-guide"
              />
              Career guidance
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="network"
              ><input
                class="form-check-input"
                type="checkbox"
                name="gain"
                id="network"
                value="networking-opp-with-pro"
              />
              Networking opportunities with professionals
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="leadership"
              ><input
                class="form-check-input"
                type="checkbox"
                name="gain"
                id="leadership"
                value="leadership-dev"
              />
              Leadership development
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="projectexp"
              ><input
                class="form-check-input"
                type="checkbox"
                name="gain"
                id="projectexp"
                value="project-exp"
              />
              Project experience
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="internship"
              ><input
                class="form-check-input"
                type="checkbox"
                name="gain"
                id="internship"
                value="internship-opp"
              />
              Internship opportunities
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="scholarship"
              ><input
                class="form-check-input"
                type="checkbox"
                name="gain"
                id="scholarship"
                value="scholarship-opp"
              />
              Scholarship opportunities
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="mentorship"
              ><input
                class="form-check-input"
                type="checkbox"
                name="gain"
                id="mentorship"
                value="mentorship-pro"
              />
              Mentorship Program
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="other-gain">
              <input
                class="form-check-input"
                type="checkbox"
                name="gain"
                id="other-gain"
                value="other"
              />
              Other:
              <input class="form-control"
                type="text"
                id="other-gain-text"
              />
            </label>
          </div>
        </div>
        

        
        <div class="input-box">
          <label class="form-label" for="recommendations"
            >Please provide some recommendations of projects and endeavors ACM
            should consider implementing in the near future or any thoughts you
            might have. Type "N/A" if none comes to mind. <span class="text-danger">*</span></label
          >
          <input class="form-control"
            type="text"
            name="recommendations"
            class="formText"
            id="recommendations"
            required
          />
        </div>

        <div class="input-box">
          <label class="form-label" for="confirmation"
            >Please enter your email address again as confirmation <span class="text-danger">*</span></label
          >
          <input class="form-control"
            type="email"
            name="confirmation"
            class="formText"
            id="confirmation"
            required
          />
        </div>
        <div class="input-box">
          <button type="submit" class="btn btn-primary" id="sub_button">Submit</button>
        </div>
      </form>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
      integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.js"
      integrity="sha512-iqhWkvLOXVDz+Lr//ZryEKNvZ5pmgdKEe58Wh/VwfTGwTku0MKbuLhjJ1zUAJu8iSbOqfLcXrrxJ61+27THi2Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script>
      $(document).ready(function () {


        /***************************************
        This code section handles "other" data
        field in checkboxes and radio buttons
        ****************************************/
        $('input:text[id="other-gender-text"]').change(function () {
          var input = $(this).val();
          $('input:radio[id="other-gender"]').val(input);
        });
        $('input:text[id="other-major-text"]').change(function () {
          var input = $(this).val();
          $('input:radio[id="other-major"]').val(input);
        });
        $('input:text[id="other-year-text"]').change(function () {
          var input = $(this).val();
          $('input:radio[id="other-year"]').val(input);
        });
        $('input:text[id="other-hear-text"]').change(function () {
          var input = $(this).val();
          $('input:checkbox[id="other-hear"]').val(input);
        });
        $('input:text[id="other-gain-text"]').change(function () {
          var input = $(this).val();
          $('input:checkbox[id="other-gain"]').val(input);
        });
        /**********************************************/



        /***************************************
        This code section handles "other" checkbox/radio button
        as required when selected
        ****************************************/
        $('#gender-radio').change(function () {
          if ($('#other-gender').is(':checked')){
            $('#other-gender-text').attr("required", true);
            console.log("checked");
          }
          else{
            $('#other-gender-text').attr("required", false);
            console.log("not checked");
          }
        });

        $('#major-radio').change(function () {
          if ($('#other-major').is(':checked')){
            $('#other-major-text').attr("required", true);
            console.log("checked");
          }
          else{
            $('#other-major-text').attr("required", false);
            console.log("not checked");
          }
        });

        $('#year-radio').change(function () {
          if ($('#other-year').is(':checked')){
            $('#other-year-text').attr("required", true);
            console.log("checked");
          }
          else{
            $('#other-year-text').attr("required", false);
            console.log("not checked");
          }
        });

        $('#hear-radio').change(function () {
          if ($('#other-hear').is(':checked')){
            $('#other-hear-text').attr("required", true);
            console.log("checked");
          }
          else{
            $('#other-hear-text').attr("required", false);
            console.log("not checked");
          }
        });

        $('#gain-radio').change(function () {
          if ($('#other-gain').is(':checked')){
            $('#other-gain-text').attr("required", true);
            console.log("checked");
          }
          else{
            $('#other-gain-text').attr("required", false);
            console.log("not checked");
          }
        });
        /**********************************************/



        /***************************************
        - This section validates the checkboxes
        - Also validates whether user checked "other"
        with text inside
        ****************************************/
        $("#sub_button").on('click', function () {
          console.log("button clicked");
          var hearCheck = $('input[name="hear"]').serializeArray();
          var gainCheck = $('input[name="gain"]').serializeArray();
          {% comment %} var projCheck = $('input[name="project-workshop"]').serializeArray(); {% endcomment %}
          {% comment %} var availCheck = $('input[name="availability"]').serializeArray(); {% endcomment %}
          var firstEmail = ($('input[id="emailText"]').val()).toLowerCase();
          var confirmEmail = ($('input[id="confirmation"]').val()).toLowerCase();
          console.log(firstEmail);
          console.log(confirmEmail);

          if (!(firstEmail === confirmEmail)){
            alert("Your confirmation email doesn't match.");
            return false;
          }

          if(hearCheck.length == 0){
            alert("You have missing checkbox fields");
            return false;
          }
          else if(gainCheck.length == 0){
            alert("You have missing checkbox fields");
            return false;
          }
          {% comment %} else if(projCheck.length == 0){
            alert("You have missing checkbox fields");
            return false;
          } {% endcomment %}
          {% comment %} else if(availCheck.length == 0){
            alert("You have missing checkbox fields");
            return false;
          } {% endcomment %}
          else {
            return true;
          }
        });
        /**********************************************/
        $('#acmform').on('submit', function() {
            $('#sub_button').prop('disabled', true);
            $('#sub_button').text('Loading...');
        });

        /***************************************
        This section controls the projects checkboxes
        ****************************************/
        $('#beginners').click(function () {
          $('#notInterested').prop('checked', false);
        });
        $('#advanced').click(function () {
          $('#notInterested').prop('checked', false);
        });
        $('#notInterested').click(function () {
          $('#beginners').prop('checked', false);
          $('#advanced').prop('checked', false);
        });
        /**********************************************/
      });
    </script>
  </body>
</html>
