<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="refresh" content="20,https://acm-calstatela.com/"/>
        <link rel="stylesheet" href="../static/styles.css" />
    </head>

    <body class="container">
        <div class="Thank-you">
            <h1>Thank you for submitting the form.</h1>
            <h2>You will be recieving a welcome email in the next 15 minutes. </h2>
            <h2>Please remember to check your spam/junk email if its not in your inbox.</h2>
            <h2>If you haven't yet recived anything after 20 mins, please contact us at: <a href="mailto:acm.calstatela@gmail.com">acm.calstatela@gmail.com</a>.</h2>
        

       


    </body>
</html>